.equipment {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  @media screen and (max-width: 904px) {
    position: relative;
    // left: initial;
    // transform: initial;
    top: 0;

    &__img {
      width: 100%;
    }
  }
}
