// reset css
@use "../../node_modules/normalize.css/normalize.css";

// design tokens(variables)
@use "../tokens/tokens.css";

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  background: var(--color-background-default);
  color: var(--color-text-primary);
}

h1 {
  font-size: #{var(--font-size-5) px};
}
