// reset css
@use "../../node_modules/normalize.css/normalize.css";

// design tokens(variables)
@use "../tokens/tokens.css";

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  // background: var(--color-background-default);
  color: var(--color-text-primary);
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;
}

h1 {
  font-size: var(--font-size-xxx-large);
  line-height: var(--text-xxx-large-line-height);
  letter-spacing: calc(var(--font-size-xxx-large) * 0.1);
  margin: 0;
}

h2 {
  font-size: var(--font-size-xx-large);
  line-height: var(--text-xx-large-line-height);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
