.heroHeader {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.title {
  position: absolute;
  left: calc(50% - #{var(--text-xxx-large-font-size)});
  top: calc(50% - #{var(--text-xxx-large-font-size)});
  text-align: center;

  > .titleMain {
    font-size: var(--text-xxx-large-font-size);
    letter-spacing: var(--text-xxx-large-letter-spacing);
  }

  > span.titleSub {
    display: block;
    font-size: var(--text-medium-font-size);
  }
}

.enjoyWay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 256px;

  > h3 {
    font-size: var(--text-xx-large-font-size);
    letter-spacing: var(--text-xx-large-letter-spacing);
    margin-bottom: 80px;
  }

  > p {
    width: calc(#{var(--text-medium-font-size)} * 40);
    font-size: var(--text-medium-font-size);
    letter-spacing: var(--text-medium-letter-spacing);
    line-height: var(--text-medium-line-height);
    margin-bottom: 120px;
    text-align: justify;
  }

  > .images {
    width: 100%;
  }
}
