.header {
  position: fixed;
  height: 48px;
  width: 100%;
  background: var(--color-background-header);

  a {
    color: var(--color-text-disabled);
    text-decoration: none;
  }
}

.menubar {
  display: flex;
  box-sizing: border-box;
  padding: 16px 40px;
}

.menulist {
  margin-right: 16px;

  a[aria-current="page"] {
    color: var(--color-text-primary);
  }
}

.footer {
  margin-left: 40px;
}

.main {
  position: relative;
}
